<h3>Assessment</h3>
<div class="row">
	<form action="/assessments" method="post" accept-charset="utf-8">
		<span class="span3">
			<label for="title">Title</label>
			<input type="text" 
			       name="assessment[title]" 
						 value="<%= assessment.escape("title") %>" 
						 id="title">
			<br />
	
			<label for="time_limit">Time Limit</label>
			<input type="text" 
						 name="assessment[time_limit]" 
						 value="<%= assessment.escape("time_limit") %>" 
						 id="time_limit" 
						 placeholder="mins">
			<br />
	
			<label for="language">Language</label>
			<select name="assessment[language]" id="language">
				<option>ruby</option>
				<option>javascript</option>
			</select>
			<br />
	
			<label for="difficulty">Difficulty</label>
			<input type="text" 
						 name="assessment[difficulty]" 
						 value="<%= assessment.escape("difficulty") %>" 
						 id="difficulty" 
						 placeholder="1 (easy) - 5 (hard)">
			<br />
	
			<label for="instructions">Instructions</label>
			<textarea name="assessment[instructions]" id="instructions" rows="10" cols="60"><%= assessment.escape("instructions") %></textarea>
			<br />
		</span>
		<span class="span9">
			<label for="spec_editor">Specs</label>
			<div id="spec_editor" class="editor"><%= assessment.get("specs") %></div>
			<br />
	
			<label for="skeleton_editor">Skeleton</label>
			<div id="skeleton_editor" class="editor"><%= assessment.get("skeleton")%></div>
			<br />
			<p><input type="submit" value="Submit" class="btn btn-primary"></p>
		</span>
		
	</form>
</div>
<script type="text/javascript" charset="utf-8">
  var skeleton_editor = ace.edit("skeleton_editor");
  skeleton_editor.setTheme("ace/theme/monokai");
  skeleton_editor.getSession().setMode("ace/mode/ruby");
	
	var spec_editor = ace.edit("spec_editor");
	spec_editor.setTheme("ace/theme/monokai");
	spec_editor.getSession().setMode("ace/mode/ruby");
</script>