<h1><%= assessment.escape("title") %></h1>
Language: <%= assessment.escape("language") %> <br />
Difficulty (1-5): <%= assessment.escape("difficulty") %><br />
Instructions: <%= assessment.escape("instructions") %><br/>
<div id="modal-invite"></div>
<br/><br />
<ul id="tabs" class="nav nav-tabs">
	<li class="active"><a href="#specs" data-toggle="tab">Specs</a></li>
	<li><a href="#skeleton" data-toggle="tab">Skeleton</a></li>
	<li><a href="#attempts" data-toggle="tab">Attempts</a></li>
</ul>
<div id="contents" class="tab-content">
  <div class="tab-pane active" id="specs">
		<pre><%= assessment.escape("specs") %></pre>
	</div>
  <div class="tab-pane" id="skeleton">
		<pre><%= assessment.escape("skeleton") %></pre>
  </div>
	<div class="tab-pane" id="attempts">
		
		<table class="table table-hover">
			<thead>
				<th>Title</th>
				<th>Candidate</th>
				<th>Examples</th>
				<th>Failed</th>
				<th>Pending</th>
				<th>Score</th>
			</thead>
			<tbody>
				<% if(assessment.get("assessment_attempts").length > 0) {%>
					<% console.log("more than one assessment attempt")%>
				<%  assessment.get("assessment_attempts").each(function(attempt) { %>
				<tr>
					<td>
						<a href="#assessment_attempts/<%= attempt.get("id") %>">
							<%= attempt.get("title") %>
						</a>
					</td>
					<td>
						<%= attempt.get("candidate_name") %>
					</td>
					<td>
						<% console.log(attempt) %>
						<%= attempt.get("report").example_count %>
					</td>
					<td>
						<%= attempt.get("report").failure_count %>
					</td>
					<td>
						<%= attempt.get("report").pending_count %>
					</td>
					<td>
						<%= attempt.get("report").example_count - attempt.get("report").failure_count %>
						/<%= attempt.get("report").example_count %>
					</td>
				</tr>
				<% })%>
				<% } %>
			</tbody>
		</table>
	</div>
</div>

<a href="#<%= assessment.url() + '/take' %>" class="btn">Take</a>
<a href="#<%= assessment.url() + '/edit' %>" class="btn">Edit</a>