<h1><%= assessment.escape("title") %></h1>
Language: <%= assessment.escape("language") %> <br />
Difficulty (1-5): <%= assessment.escape("difficulty") %> <br />
Instructions: <%= assessment.escape("instructions") %>
<pre>
<%= assessment.escape("specs") %>
</pre>
<br />
<a href="#">Assessments</a>
<a href="#<%= assessment.url() + '/take' %>">Take Assessment</a>